body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Cinzel Decorative";
  font-weight: 700;
}

.outside_div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.main_row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left_col {
  background-color: white;
  width: 40vw;
  height: 100vh;
  padding: 0;
}

.profile_navbar {
  background-image: linear-gradient(to right, #dc2f02, #ffba08);
  width: 40vw;
}
.navbar-brand {
}

.navbar_inside_container a {
  color: white;
  padding-left: 0;
}

.profile_image {
  width: 100px;
  border: 7px solid white;
  border-radius: 50%;
  color: white;
}

.connections_and_messages_container a {
  text-decoration: none;
  color: black;
}

.connections_and_messages_container a:hover {
  text-decoration: underline #dc2f02;
}

.connections_and_messages_row {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.messages {
  margin-left: 10px;
}

.right_col {
  background-color: #f8f8f8;
  width: 60vw;
  height: 100vh;
}
