<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link
      rel="icon"
      href="../images/DateIn_favicon_transparent.png"
      type="image/gif"
      sizes="16x16"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/signup_style.css" />
  </head>

  <body>
    <div class="outside_div">
      <div class="name_div">
        <h1 class="app_name">
          <span style="color: #ffffff">Sign</span
          ><span style="color: #ffba08">&nbspUP</span>
        </h1>
      </div>

      <!-- <img src="/images/DateIn_Logo.png" alt="DateIn Logo"> -->
      <div class="form_div">
        <div class="row" style="width: 75%">
          <div class="col-md-10 mx-auto">
            <form action="/signup" method="POST">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="inputEmail" style="color: #ffffff">Email</label>
                  <input
                    type="email"
                    name="inputEmail"
                    class="form-control"
                    id="inputEmail"
                    placeholder="Email Address"
                  />
                </div>

                <div class="col-sm-6">
                  <label for="inputPassword" style="color: #ffffff"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    name="inputPassword"
                    placeholder="password"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="firstName" style="color: #ffffff"
                    >First name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="First name"
                  />
                </div>
                <div class="col-sm-6">
                  <label for="inputLastName" style="color: #ffffff"
                    >Last name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputLastName"
                    name="lastName"
                    placeholder="Last name"
                  />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="inputIdentity" style="color: #ffffff"
                    >You are</label
                  >
                  <select
                    class="form-control"
                    id="inputIdentity"
                    name="inputIdentity"
                  >
                    <option>Female</option>
                    <option>Male</option>
                    <option>Other</option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <label for="inputLookingFor" style="color: #ffffff"
                    >Interested in
                  </label>
                  <select
                    class="form-control"
                    id="inputLookingFor"
                    name="lookingForSelect"
                  >
                    <option>Male</option>
                    <option>Female</option>
                    <option>No Preference</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="inputContactNumber" style="color: #ffffff"
                    >Contact Number</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="inputContactNumber"
                    name="inputContactNumber"
                    placeholder="Contact Number"
                  />
                </div>
                <div class="col-sm-6">
                  <label for="linkedin" style="color: #ffffff">Linkedin</label>
                  <input
                    type="url"
                    class="form-control"
                    id="linkedin"
                    name="linkedin"
                    placeholder="Linkedin"
                  />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="Age" style="color: #ffffff">Age</label>
                  <input
                    type="number"
                    class="form-control"
                    id="age"
                    name="age"
                    placeholder="Age"
                  />
                </div>
                <div class="col-sm-6">
                  <label for="inputIdentity" style="color: #ffffff"
                    >What do you do?</label
                  >
                  <!-- https://gist.github.com/ag14spirit/fbf877576c9d6b78899e3ad02fe92b50 -->
                  <select
                    class="form-control dropdown"
                    id="occupation"
                    name="occupation"
                  >
                    <option value="" selected="selected" disabled="disabled">
                      -- select one --
                    </option>
                    <optgroup
                      label="Healthcare Practitioners and Technical Occupations:"
                    >
                      <option value="Chiropractor">- Chiropractor</option>
                      <option value="Dentist">- Dentist</option>
                      <option value="Dietitian or Nutritionist">
                        - Dietitian or Nutritionist
                      </option>
                      <option value="Optometrist">- Optometrist</option>
                      <option value="Pharmacist">- Pharmacist</option>
                      <option value="Physician">- Physician</option>
                      <option value="Physician Assistant">
                        - Physician Assistant
                      </option>
                      <option value="Podiatrist">- Podiatrist</option>
                      <option value="Registered Nurse">
                        - Registered Nurse
                      </option>
                      <option value="Therapist">- Therapist</option>
                      <option value="Veterinarian">- Veterinarian</option>
                      <option value="Health Technologist or Technician">
                        - Health Technologist or Technician
                      </option>
                      <option
                        value="Other Healthcare Practitioners and Technical
                      Occupation"
                      >
                        - Other Healthcare Practitioners and Technical
                        Occupation
                      </option>
                    </optgroup>
                    <optgroup label="Healthcare Support Occupations:">
                      <option value="Nursing, Psychiatric, or Home Health Aide">
                        - Nursing, Psychiatric, or Home Health Aide
                      </option>
                      <option
                        value="Occupational and Physical Therapist Assistant or Aide"
                      >
                        - Occupational and Physical Therapist Assistant or Aide
                      </option>
                      <option value="Other Healthcare Support Occupation">
                        - Other Healthcare Support Occupation
                      </option>
                    </optgroup>
                    <optgroup
                      label="Business, Executive, Management, and Financial Occupations:"
                    >
                      <option value="Chief Executive">- Chief Executive</option>
                      <option value="General and Operations Manager">
                        - General and Operations Manager
                      </option>
                      <option
                        value="Advertising, Marketing, Promotions, Public Relations,
                      and Sales Manager"
                      >
                        - Advertising, Marketing, Promotions, Public Relations,
                        and Sales Manager
                      </option>
                      <option
                        value="Operations Specialties Manager (e.g., IT or HR
                      Manager)"
                      >
                        - Operations Specialties Manager (e.g., IT or HR
                        Manager)
                      </option>
                      <option value="Construction Manager">
                        - Construction Manager
                      </option>
                      <option value="Engineering Manager">
                        - Engineering Manager
                      </option>
                      <option value="Accountant, Auditor">
                        - Accountant, Auditor
                      </option>
                      <option
                        value="Business Operations or Financial Specialist"
                      >
                        - Business Operations or Financial Specialist
                      </option>
                      <option value="Business Owner">- Business Owner</option>
                      <option
                        value="Other Business, Executive, Management, Financial
                      Occupation"
                      >
                        - Other Business, Executive, Management, Financial
                        Occupation
                      </option>
                    </optgroup>
                    <optgroup label="Architecture and Engineering Occupations:">
                      <option value="Architect, Surveyor, or Cartographer">
                        - Architect, Surveyor, or Cartographer
                      </option>
                      <option value="Engineer">- Engineer</option>
                      <option
                        value="Other Architecture and Engineering Occupation"
                      >
                        - Other Architecture and Engineering Occupation
                      </option>
                    </optgroup>
                    <optgroup
                      label="Education, Training, and Library Occupations:"
                    >
                      <option
                        value="Postsecondary Teacher (e.g., College Professor)"
                      >
                        - Postsecondary Teacher (e.g., College Professor)
                      </option>
                      <option
                        value="Primary, Secondary, or Special Education School
                      Teacher"
                      >
                        - Primary, Secondary, or Special Education School
                        Teacher
                      </option>
                      <option value="Other Teacher or Instructor">
                        - Other Teacher or Instructor
                      </option>
                      <option
                        value="Other Education, Training, and Library Occupation"
                      >
                        - Other Education, Training, and Library Occupation
                      </option>
                    </optgroup>
                    <optgroup label="Other Professional Occupations:">
                      <option
                        value="Arts, Design, Entertainment, Sports, and Media
                      Occupations"
                      >
                        - Arts, Design, Entertainment, Sports, and Media
                        Occupations
                      </option>
                      <option value="Computer Specialist, Mathematical Science">
                        - Computer Specialist, Mathematical Science
                      </option>
                      <option
                        value="Counselor, Social Worker, or Other Community and
                      Social Service Specialist"
                      >
                        - Counselor, Social Worker, or Other Community and
                        Social Service Specialist
                      </option>
                      <option value="Lawyer, Judge">- Lawyer, Judge</option>
                      <option
                        value="Life Scientist (e.g., Animal, Food, Soil, or
                      Biological Scientist, Zoologist)"
                      >
                        - Life Scientist (e.g., Animal, Food, Soil, or
                        Biological Scientist, Zoologist)
                      </option>
                      <option
                        value="Physical Scientist (e.g., Astronomer, Physicist,
                      Chemist, Hydrologist)"
                      >
                        - Physical Scientist (e.g., Astronomer, Physicist,
                        Chemist, Hydrologist)
                      </option>
                      <option
                        value="Religious Worker (e.g., Clergy, Director of Religious
                      Activities or Education)"
                      >
                        - Religious Worker (e.g., Clergy, Director of Religious
                        Activities or Education)
                      </option>
                      <option value="Social Scientist and Related Worker">
                        - Social Scientist and Related Worker
                      </option>
                      <option value="Other Professional Occupation">
                        - Other Professional Occupation
                      </option>
                    </optgroup>
                    <optgroup
                      label="Office and Administrative Support Occupations:"
                    >
                      <option
                        value="Supervisor of Administrative Support Workers"
                      >
                        - Supervisor of Administrative Support Workers
                      </option>
                      <option value="Financial Clerk">- Financial Clerk</option>
                      <option value="Secretary or Administrative Assistant">
                        - Secretary or Administrative Assistant
                      </option>
                      <option
                        value="Material Recording, Scheduling, and Dispatching Worker"
                      >
                        - Material Recording, Scheduling, and Dispatching Worker
                      </option>
                      <option
                        value="Other Office and Administrative Support Occupation"
                      >
                        - Other Office and Administrative Support Occupation
                      </option>
                    </optgroup>
                    <optgroup label="Services Occupations:">
                      <option
                        value="Protective Service (e.g., Fire Fighting, Police
                      Officer, Correctional Officer)"
                      >
                        - Protective Service (e.g., Fire Fighting, Police
                        Officer, Correctional Officer)
                      </option>
                      <option value="Chef or Head Cook">
                        - Chef or Head Cook
                      </option>
                      <option value="Cook or Food Preparation Worker">
                        - Cook or Food Preparation Worker
                      </option>
                      <option
                        value="Food and Beverage Serving Worker (e.g., Bartender,
                      Waiter, Waitress)"
                      >
                        - Food and Beverage Serving Worker (e.g., Bartender,
                        Waiter, Waitress)
                      </option>
                      <option
                        value="Building and Grounds Cleaning and Maintenance"
                      >
                        - Building and Grounds Cleaning and Maintenance
                      </option>
                      <option
                        value="Personal Care and Service (e.g., Hairdresser, Flight
                      Attendant, Concierge)"
                      >
                        - Personal Care and Service (e.g., Hairdresser, Flight
                        Attendant, Concierge)
                      </option>
                      <option value="Sales Supervisor, Retail Sales">
                        - Sales Supervisor, Retail Sales
                      </option>
                      <option value="Retail Sales Worker">
                        - Retail Sales Worker
                      </option>
                      <option value="Insurance Sales Agent">
                        - Insurance Sales Agent
                      </option>
                      <option value="Sales Representative">
                        - Sales Representative
                      </option>
                      <option value="Real Estate Sales Agent">
                        - Real Estate Sales Agent
                      </option>
                      <option value="Other Services Occupation">
                        - Other Services Occupation
                      </option>
                    </optgroup>
                    <optgroup
                      label="Agriculture, Maintenance, Repair, and Skilled Crafts Occupations:"
                    >
                      <option
                        value="Construction and Extraction (e.g., Construction
                      Laborer, Electrician)"
                      >
                        - Construction and Extraction (e.g., Construction
                        Laborer, Electrician)
                      </option>
                      <option value="Farming, Fishing, and Forestry">
                        - Farming, Fishing, and Forestry
                      </option>
                      <option value="Installation, Maintenance, and Repair">
                        - Installation, Maintenance, and Repair
                      </option>
                      <option value="Production Occupations">
                        - Production Occupations
                      </option>
                      <option
                        value="Other Agriculture, Maintenance, Repair, and Skilled
                      Crafts Occupation"
                      >
                        - Other Agriculture, Maintenance, Repair, and Skilled
                        Crafts Occupation
                      </option>
                    </optgroup>
                    <optgroup label="Transportation Occupations:">
                      <option value="Aircraft Pilot or Flight Engineer">
                        - Aircraft Pilot or Flight Engineer
                      </option>
                      <option
                        value="Motor Vehicle Operator (e.g., Ambulance, Bus, Taxi, or
                      Truck Driver)"
                      >
                        - Motor Vehicle Operator (e.g., Ambulance, Bus, Taxi, or
                        Truck Driver)
                      </option>
                      <option value="Other Transportation Occupation">
                        - Other Transportation Occupation
                      </option>
                    </optgroup>
                    <optgroup label="Other Occupations:">
                      <option value="Military">- Military</option>
                      <option value="Homemaker">- Homemaker</option>
                      <option value="Other Occupation">
                        - Other Occupation
                      </option>
                      <option value="Don't Know">- Don't Know</option>
                      <option value="Not Applicable">- Not Applicable</option>
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="inputPhotoURL" style="color: #ffffff"
                  >Image Address</label
                >
                <input
                  type="url"
                  class="form-control"
                  id="inputImageUrl"
                  name="imageUrl"
                  placeholder="enter image address for your photo"
                />
              </div>

              <div
                class="form_group_row"
                style="margin-top: 10px; margin-bottom: 10px"
              >
                <div class="input-group">
                  <span
                    class="input-group-text"
                    style="background-color: #370617; color: #ffba08"
                    >Tell us about yourself:</span
                  >
                  <textarea
                    class="form-control"
                    aria-label="With textarea"
                    id="aboutMe"
                    name="aboutMe"
                  >
Make it count</textarea
                  >
                </div>
              </div>

              <div class="form_group_row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    name="flexCheckChecked"
                    checked
                  />

                  <label
                    class="form-check-label"
                    for="flexCheckChecked"
                    style="color: #ffffff"
                  >
                    I am at least 18 years of age.
                  </label>
                </div>
              </div>

              <div style="display: flex; justify-content: center">
                <!-- <% if(locals.message){ %>
                  <div class="alert alert-success" role="alert">
                      <strong>Well done!</strong> <%=message.success%>
                  </div>
              <% } %> -->
                <button
                  type="submit"
                  class="btn cust_btn btn-lg zoom"
                  style="background-color: #ffba08; margin-top: 30px"
                >
                  Sign up
                </button>
              </div>

              <div
                id="loginHelp"
                class="form-text"
                style="
                  display: flex;
                  justify-content: center;
                  color: #ffffff;
                  margin-top: 15px;
                  font-size: large;
                "
              >
                Already have an account?
                <a href="/login" style="color: #ffba08">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
